{% extends 'base/base.html' %}
{% block page_content %}
{% load humanize %}
<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Gastos del vehiculo</h6>
        <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Acciones:</div>
                <a class="dropdown-item" href="{% url 'elim:gasto_new' %}">
                    <i class="far fa-calendar-plus"></i> Nuevo</a>
            </div>
        </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        <div class="titleholder">
            <!-- <div class="title text-uppercase"> Vehiculos Elim Logística</div> -->
            <!-- <div class="title"> {% if location %} para {{location.direccion}} ({{label}}) {% endif %}</div>  -->
        </div>

        <!-- Card menu -->
        <div class="alert alert-info">
            <a class="btn btn-default" href="{% url 'elim:gasto_new' %}" > Registrar gasto </a>
            <!-- <a class="btn btn-default" onclick="return abrir_modal('{% url 'elim:reg_new' %}')" href="#"> Nuevo servicio</a> -->
            <!-- <a class="btn btn-default" onclick="return abrir_modal('{% url 'elim:vehiculo_new' %}')" href="#"> Nuevo vehiculo</a> -->
            <!-- <a class="btn btn-default" href="{% url 'elim:reg_direccion_new' %}"> Direcciones</a> -->
            <!-- <a class="btn btn-default" href="{% url 'elim:vehiculo_list' %}"> Vehiculos</a>       -->
        </div>
        {% if not obj %}
        <div class="alert alert-info"> Ningún gasto conductor disponible </div>
        {% endif %}
        <div class="row">
            <div class="col">
                <form action="{% url 'elim:gasto_list' %}" method="get">                    
                    <div class="col-md-12">
                        <div class="col-md-3">
                            Fecha:{{form.fecha}}
                        </div>
                        <div class="col-md-3">
                            Factura:{{form.factura}}
                        </div>
                        <!-- <div class="col-md-3">
                            Pago: {{form.medio_pago}}
                        </div> -->
                        <div class="row mt-2">
                            <div class="col">
                                <div class="col-md-12">                    
                                    <button  type="submit" class="btn btn-primary">
                                        <span class="fa fa-filter"></span> 
                                        filtrar
                                    </button>
                                    <a href="{% url 'elim:gasto_list' %}" class="btn btn-danger">
                                        <span class="fa fa-trash"></span>  
                                        limpiar                                       
                                    </a>                        
                                </div>
                            </div>  
                        </div>
                    </div>
                </form>
            </div>
        </div>     

        <div class="row">
            <div class="col">
                        
            </div>
        </div>
        <div class="dropdown-divider"></div>
        <table id="table" class="table table-striped table-hover dt-responsive nowrap mb-5">
            <thead>
                <th class="all"> Id</th>                
                <th class="all"> Acciones</th>
                <th>Fecha</th>                
                <th>Estado</th>
                <th>Placa</th>                
                <th>Concepto</th>
                <th>Medio</th>
                <th>N° Factura</th>
                <th>Total</th>
                <th>Efectivo</th>
                <th>Crédito</th>
                <th>Transferencia</th>
                <th>Descripción</th>
            </thead>
            <tbody id="tableBody_programmers">
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="4" style="text-align:left" >Total:<div id="id_total">0.0</div> </th>
                    <th></th>
                </tr>
            </tfoot>
        </table>        
    </div>
</div>

{% endblock %}
{% block js_page %}
<script>
    $(document).ready(function () {
        $("#sidebarToggle").click();
    });

    let dataTable;
    let dataTableIsInitialized = false;
    const dataTableOptions = {
        columnDefs: [
            { className: "centered", targets: [0, 1, 2, 3, 4, 5, 6] },
            { orderable: false, targets: [0] },
            { searchable: false, targets: [0] }
        ],
        pageLength:10,
        destroy:true,
        stateSave:true,
        // scrollCollapse:true,
        scrollY:'280px',
        scrollX:true,
        responsive:true,
        processing:true,
        dom:'Blfrtip',
        language: {
            "decimal": ',',
            "thousands": '.',
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados",
            "sEmptyTable": "Ningún dato disponible en esta tabla",
            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "<span class='fa fa-angle-double-left'></span>",
                "sLast": "<span class='fa fa-angle-double-right'></span>",
                "sNext": "<span class='fa fa-angle-right'></span>",
                "sPrevious": "<span class='fa fa-angle-left'></span>"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            },
        },
        // layout: {
        //     topStart: {
        //         buttons: [
        //             { extend: 'crear',  },
        //             { extend: 'editar',  },
        //             { extend: 'quitar',  }
        //         ]
        //     }
        // },
    };

    const initDataTable = async () => {
        if (dataTableIsInitialized) {
            dataTable.destroy();
        }
        await list();
        dataTable = $("#table").DataTable(dataTableOptions);
        dataTableIsInitialized = true;
    };

    const list = async () => {
        try {            
            // const sUrl = '/api/v1/gastos/reload/?';
            const sUrl = "{% url 'api:gastos_list_reload' %}";            
            const param= $( "form" ).serialize();        
            const response = await fetch(sUrl+"?"+param);                    
            const data = await response.json();
            let content = ``;                           
            data.data.forEach((item, index) => {
                content += `
                <tr>
                    <td>${item.id}</td>
                    <td>
                        ${item.estado_aceptacion === null ?
                        `<a href="/elim/gastos/edit/${item.id}" > <i class="far fa-edit" style='color:green;'></i> </a>
                        <a href="#" onclick="return abrir_modal('/elim/gastos/detail/${item.id}')">Imagen</a>    
                        `:
                        item.estado_aceptacion === false && "{{request.user.is_superuser}}" === "True" ?
                        `<a href="/elim/gastos/edit/${item.id}" > <i class="far fa-edit" style='color:green;'></i> </a>
                        <a href="#" onclick="return abrir_modal('/elim/gastos/detail/${item.id}')">Imagen</a>    
                        `:
                        item.estado_aceptacion === false ?
                        `<a href="#" class="pe-none" tabindex="-1" aria-disabled="true" > <i class="far fa-edit" style='color:red;'></i> </a>
                        <a href="#" onclick="return abrir_modal('/elim/gastos/detail/${item.id}')">Imagen</a>    
                        `:
                        item.estado_aceptacion === true && "{{request.user.is_superuser}}" === "True" ?
                        `<a href="/elim/gastos/edit/${item.id}" > <i class="far fa-edit" style='color:blue;'></i> </a>
                        <a href="#" onclick="return abrir_modal('/elim/gastos/detail/${item.id}')">Imagen</a>    
                        `:
                        `<span> <i class="far fa-address-card"></i> </span>
                        <a href="#" onclick="return abrir_modal('/elim/gastos/detail/${item.id}')">Imagen</a>`
                        }
                    </td>
                    <td>${luxon.DateTime.fromISO(item.fecha).setLocale('co').toFormat('F')}</td>
                    <td>${item.estado_aceptacion === true ?
                         `<span style='color:green;'> Aceptado </span>`:
                         item.estado_aceptacion === false ?
                         `<span style='color:red;'> Rechazado </span>`:
                         'Por revisar'}
                    </td>
                    <td>${item.vehiculo_placa}</td>
                    <td>${item.concepto}</td>
                    <td>${item.medio_pago}</td>
                    <td>${item.factura}</td>
                    <td>
                        <span style='color: ${item.color};'>  
                            ${Number((item.valor).replace(',', '.')).toLocaleString()} 
                        </span>                        
                    </td>
                    <td>${Number((item.efectivo).replace(',', '.')).toLocaleString()}</td>
                    <td>${Number((item.credito).replace(',', '.')).toLocaleString()}</td>
                    <td>${Number((item.transferencia).replace(',', '.')).toLocaleString()}</td>
                    <td>${item.descripcion}</td>
                    
                </tr>`;
            });
            tableBody_programmers.innerHTML = content;
        } catch (ex) {
            alert(ex);
        }
    };

    window.addEventListener("load", async () => {        
        await initDataTable(new Date());
    });

    $("#id_fecha").datetimepicker({
        format: 'd/m/Y',
        timepicker:false,        
        onChangeDateTime:function(dp,$input){
            // console.log($input.val());
            // table.ajax.url("/api/v1/gastos/reload/").load();            
            // listProgrammers();
        },
        // yearRange: "2024:2025", 
        // firstDay: 1,
        // defaultDate:new Date(),
        // minDate: 0, /** AAAA,MM,DD Fecha inicio */
        // maxDate: new Date( new Date().getFullYear(), 12, 31),
        // allowTimes:[
        // '12:00', '13:00', '15:00',
        // '17:00', '17:05', '17:20', '19:00', '20:00'
        // ],
        // icons: {
        //     time: "fa fa-clock-o",
        //     date: "fa fa-calendar",
        //     up: "fa fa-arrow-up",
        //     down: "fa fa-arrow-down"
        // }
    });
    // }).setLocale('es');
</script>
{% endblock %}