{% extends 'base/base.html' %}

{% block page_content %}
<div class="panel-body">
    <div>
        {% if obj.pk  %}
        <form method="POST" role="form" id="frm" class="form-inline" action="{% url 'elim:gasto_edit' obj.pk %}" enctype="multipart/form-data">
        {% else %}
        <form method="POST" role="form" id="frm" class="form-inline" action="{% url 'elim:gasto_new' %}" enctype="multipart/form-data">
        {% endif %}
            <div class="col-xl-12 col-md-12 mb-12">
                {% if obj.pk %}
                <div class="card border-left-warning shadow h-100 py-2">
                {% else %}
                <div class="card border-left-success shadow h-100 py-2">
                {% endif %}
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    {% if obj.pk %} Editar gasto del conductor {% endif %}
                                </div>                                
                                {% csrf_token %}
                                <small class="text-danger">
                                    {% if form.errors %}
                                        {% for field in form %}
                                            {% if field.errors %}
                                                {% for error in field.errors %}
                                                    {{ error|escape }}
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    
                                        {% if form.non_field_errors%}
                                            {% for error in form.non_field_errors %}
                                                {{ error|escape }}
                                            {% endfor %}
                                        {% endif %}
                                    {% endif %}
                                </small>
                                <div class="dropdown-divider"></div>
                                {{form.fecha.label}}
                                <input type="datetime" name="fecha" id="fecha" required class="form-control" maxlength="19" autocomplete="off">
                                {{form.valor.label}}
                                {{form.valor}} 
                                {{form.medio_pago}}
                                {{form.concepto}}
                                {{form.imagen}}
                                <div class="dropdown-divider"></div>
                                <div class="row">
                                    <div class="col">
                                        <button type="submit" class="btn btn-danger">
                                            <span class="fa fa-save"></span> 
                                            Guardar
                                        </button>
                                        <a type="button" class="btn btn-success" href="{% url 'elim:gasto_list' %}">
                                            Cancelar
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block js_page %}
<script>

    $("#fecha").datetimepicker({
        format: 'd/m/Y H:i:s',
        timepicker:true,
     // minDate:'16/02/2025 00:00:00'    
    });

    $(function () {
        $("#fecha").val("{{ obj.fecha|date:'d/m/Y H:i:s' }}");
    });
</script>

{% endblock %}

