{% load static %}
<div class="modal-dialog modal-fullscreen-sm-down">
    <div class="modal-content">
        {% if obj.pk  %}
        <!-- <form method="POST" role="form" id="frm" class="form-inline" enctype="multipart/form-data"> -->
        <form method="POST" role="form" id="frm" class="form-inline" action="{% url 'elim:conductor_edit' obj.placa %}" enctype="multipart/form-data">
        {% else %}
        <!-- <form method="POST" role="form" id="frm" class="form-inline" enctype="multipart/form-data"> -->
        <!-- <form method="POST" role="form" id="frm" class="form-inline" action="{% url 'elim:conductor_new' %}" enctype="multipart/form-data"> -->
        {% endif %}
            <div class="col-xl-12 col-md-12 mb-12">
                {% if obj.pk %}
                <div class="card border-left-warning shadow h-100 py-2">
                {% endif %}
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    {% if obj.pk %} Editar estado conductor {% endif %}
                                </div>
                                
                                {% csrf_token %}

                                <small class="text-danger">
                                    {% if form.errors %}
                                        {% for field in form %}
                                            {% if field.errors %}
                                                {% for error in field.errors %}
                                                    {{ error|escape }}
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    
                                        {% if form.non_field_errors%}
                                            {% for error in form.non_field_errors %}
                                                {{ error|escape }}
                                            {% endfor %}
                                        {% endif %}
                                    {% endif %}
                                </small>

                                <div class="dropdown-divider"></div>

                                <div class="row">                                    
                                    {{form.as_div}}                                    
                                </div>   

                                <div class="dropdown-divider"></div>

                                <div class="row">
                                    <div class="col">
                                        <button type="submit" class="btn btn-danger">
                                            <span class="fa fa-save"></span> 
                                            Guardar
                                        </button>
                                        <button type="button" class="btn btn-success"
                                            onclick="return cerrar_modal()">
                                            Cancelar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


{% block js_page %}
<script>
    $(function () {
        $("#hora").focus();
    });
</script>

{% endblock %}
