{% extends 'trayectos/base.html' %}

<!-- {% block extend_head %} -->
<!-- {% endblock %} -->


{% block content %}
<!-- <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script> -->

     
 <!-- marcadores  -->
<script> 
    let map
    async function initMap(){
         // Request needed libraries.
        // const { InfoWindow } = await google.maps.importLibrary("maps")        
        const { AdvancedMarkerElement } = await google.maps.importLibrary("marker")        
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay =  new google.maps.DirectionsRenderer;
        var locations = {{ locations|safe}}
        var firstLocation = locations[0]
        var infoWindow = []
        
        const bogota = { lat:  4.7109886, lng: -74.072092 };

        map = new google.maps.Map(document.getElementById("map"),{
            //center: { lat: firstLocation.lat, lng: firstLocation.lng }, 
            zoom:12,
            scaleControl: true,
            center: bogota,
            mapId: "4504f8b37365c3d0",
        });

        directionsDisplay.setMap(map)
        // const infoWindow = new InfoWindow();

        var onChangeHandler = function () {
            calculateAndDisplayRoute(directionsService, directionsDisplay);
        };
        document.getElementById('start').addEventListener('change', onChangeHandler);
        document.getElementById('end').addEventListener('change', onChangeHandler);



        locations.forEach(function (location){
            const marker  = new google.maps.marker.AdvancedMarkerElement({
                position: {lat: location.lat, lng: location.lng}, 
                map: map, 
                title: location.direccion,
                content: buildContent(location),
                gmpClickable: true,
            });

            // var infowindow = new google.maps.InfoWindow({
            //     content: location.direccion, 
            // });

            // infoWindow.push(infowindow)

            marker.addListener('gmp-click',function(){
                toggleHighlight(marker,location)

                // const { target } = domEvent;

                // infoWindow.close();
                // infoWindow.setContent(marker.title);
                // infoWindow.open(marker.map, marker );
                // toggleHighlight(AdvancedMarkerElement, location);
                // infoWindow.forEach(function(iw){
                    // iw.close();
                // });
                // infoWindow.open(marker.map, toggleHighlight(marker , location));
                // infowindow.open(map, toggleHighlight(marker , location))
            });
        });   
        
    }

    function calculateAndDisplayRoute(directionsService, directionsDisplay) {

        let obj = {
            "origin":{
                "location":{
                    "latLng":{
                        "latitude": 4.7455754,
                        "longitude": -74.1700713
                    }
                }
            },
            "destination":{
                "location":{
                    "latLng":{
                        "latitude": 4.6850545,
                        "longitude": -74.0525236
                    }
                }
            },
            "travelMode": "DRIVE",
            "routingPreference": "TRAFFIC_AWARE",
            "computeAlternativeRoutes": false,
            "routeModifiers": {
                "avoidTolls": false,
                "avoidHighways": false,
                "avoidFerries": false
            },
            "languageCode": "es-CO",
            "units": "IMPERIAL"
        };
        

        directionsService.route({
            origin: document.getElementById('start').value,
            destination: document.getElementById('end').value,
            travelMode: google.maps.TravelMode.DRIVING,
        }, function (response, status) {
            console.log(response)
            if (status === 'OK') {
                directionsDisplay.setDirections(response);
                const directions = directionsDisplay.getDirections();
                if (directions) {
                    computeTotalDistance(directions);
                }
            } else {
                window.alert('La solicitud de direcciones falló debido a ' + status);
                
            }
        })        
        .catch((e) => {
            alert("No se pudieron mostrar las direcciones debido a: " + e);
        });
    }

    function computeTotalDistance(result) {
        console.log('****',result)
        let total = 0;
        const myroute = result.routes[0];
        console.log('****',result.routes[0])

        if (!myroute) {
            return;
        }

        for (let i = 0; i < myroute.legs.length; i++) {
            total += myroute.legs[i].distance.value;
        }

        total = total / 1000;
        document.getElementById("total").innerHTML = total + " km";
        document.getElementById("tiempo").innerHTML = myroute.legs[0].duration.text;
    }


    function toggleHighlight(markerView, property) {
        if (markerView.content.classList.contains("highlight")) {
            markerView.content.classList.remove("highlight");
            markerView.zIndex = null;
        } else {
            markerView.content.classList.add("highlight");
            markerView.zIndex = 1;
        }
    }

    function buildContent(property) {
        const content = document.createElement("div");
        content.classList.add("property");
        content.innerHTML = `
            <div class="icon">
                <i aria-hidden="true" class="fa fa-icon fa-${property.type}" title="${property.cliente}"></i>
                <span class="fa-sr-only">${property.cliente}</span>
            </div>
            <div class="details">
                <div class="price">${property.valor}</div>
                <div class="address">${property.direccion}</div>
                <div class="features">
                <div>
                    <i aria-hidden="true" class="fa fa-bed fa-lg bed" title="bedroom"></i>
                    <span class="fa-sr-only">bedroom</span>
                    <span>${property.placa}</span>
                </div>
                <div>
                    <i aria-hidden="true" class="fa fa-bath fa-lg bath" title="bathroom"></i>
                    <span class="fa-sr-only">bathroom</span>
                    <span>${property.celular}</span>
                </div>
                <div>
                    <i aria-hidden="true" class="fa fa-ruler fa-lg size" title="size"></i>
                    <span class="fa-sr-only">size</span>
                    <span>${property.medio_pago} ft<sup>2</sup></span>
                </div>
                </div>
            </div>
            `;
        return content;
    }

    window.initMap = initMap

</script>


<!-- rutas -->
<script>
    function getRoute(obj) {
        console.log('obj', (obj))
        console.log('obj', JSON.stringify(obj))
        

        return fetch(
            "https://routes.googleapis.com/directions/v2:computeRoutes", {
            "method": "POST",
            'mode': 'no-cors',
            "headers": {
                "Content-Type": "application/json",
                "Access-Control-Allow-Origin": "http://127.0.0.1:8000",
                'Access-Control-Allow-Credentials':true,                
                'Access-Control-Allow-Headers': 'Content-Type, Authorization',
                "X-Goog-FieldMask": "routes.duration,routes.distanceMeters,routes.polyline.encodedPolyline",
                "X-Goo-Api-key": "{{key}}",
            },
            "body": JSON.stringify(obj)
            })
            .then((httpResponse) => {
                return httpResponse.json();
            })
            .then((json) => {
                console.log(json);
                return json;
            })
            .catch((err) => {
                console.log(err);
                return err;
            });
    }

    function getRespuesta() {

        let obj = {
            "origin":{
                "location":{
                    "latLng":{
                        "latitude": 4.7455754,
                        "longitude": -74.1700713
                    }
                }
            },
            "destination":{
                "location":{
                    "latLng":{
                        "latitude": 4.6850545,
                        "longitude": -74.0525236
                    }
                }
            },
            "travelMode": "DRIVE",
            
        };
        
        getRoute(obj).then((res)=>{
            console.log(res)
            // let polyline = res.routes[0].polyline.encodedPolyline;
            // let time = res.routes[0].duration;
            // let markers = [{
            //     "lat": 0.0,
            //     "lat": 0.0,
            //     },{
            //     "lat": 0.0,
            //     "lat": 0.0,
            // }];
            // $w("html").postMessage({markers,polyline,time})
        })
    }


</script>

<div id="floating-panel">
    <b>Start: </b>
    <select id="start">
        <option value=""> Seleccione vehiculos </option>
        {% for i in vehiculos %}
        <option value="{{ i.direccion }}">{{ i.direccion }} - {{i.valor}}</option>
        {% endfor %}        
    </select>
    <b>End: </b>
    <select id="end">        
        {% for i in registros %}
        <option value="{{ i.direccion }}">{{ i.direccion }}</option>
        {% endfor %}
    </select>
    </div>


<div class="pageholder">
    <div class="titleholder">         
        <div class="title"> Mapa Elim Logística   </div>         
        <button onclick="getRespuesta()"> ruta</button>
    </div>
    <p>Total Distance: <span id="total"></span></p>

    <p>Total tiempo: <span id="tiempo"></span></p>

    <div class="linkholder">
        <div class="mapholder"> 
            <div id="map"> </div>
            <script async src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap">
            </script>
        </div>        
    </div>
    <div class="linkholder">  
        <a href="{% url 'elim:trayecto_view' %}">Ir a direcciones</a> 
    </div>
</div>


{% endblock %}