{% load static %}
<div class="modal-dialog modal-fullscreen-sm-down">
    <div class="modal-content">
        {% if obj.id  %}
        <form method="POST" role="form" id="frmReg" class="form-inline" action="{% url 'elim:reg_edit' obj.id %}" enctype="multipart/form-data">
        {% else %}
        <form method="POST" role="form" id="frmReg" class="form-inline" action="{% url 'elim:reg_new' %}" enctype="multipart/form-data">
        {% endif %}
            <div class="col-xl-12 col-md-12 mb-12">
                {% if obj.id %}
                <div class="card border-left-warning shadow h-100 py-2">
                {% else %}
                <div class="card border-left-success shadow h-100 py-2">
                {% endif %}
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    {% if obj.id %} Editar {% else %} Nuevo {% endif %} Registro
                                </div>
                                {% csrf_token %}

                                <small class="text-danger">
                                    {% if form.errors %}
                                        {% for field in form %}
                                            {% if field.errors %}
                                                {% for error in field.errors %}
                                                    {{ error|escape }}
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    
                                        {% if form.non_field_errors%}
                                            {% for error in form.non_field_errors %}
                                                {{ error|escape }}
                                            {% endfor %}
                                        {% endif %}
                                    {% endif %}
                                </small>

                                <div class="dropdown-divider"></div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            Fecha
                                        </div>
                                        <div class="col-md-12">                                        
                                            <input type="datetime" name="fecha" id="fecha" 
                                            class="form-control" maxlength="19" autocomplete="off">
                                        </div>                          
                                    </div>
                                </div>                                

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            Dirección
                                        </div>
                                        <div class="col-md-12">                                        
                                            <select name="trayecto" id="trayecto" class="form-control" required>
                                                {% for item in trayectos %}
                                                    <option value="{{item.id}}">{{ item.direccion }} </option>
                                                {% endfor %}
                                            </select>
                                        </div>                          
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            Cliente
                                        </div>
                                        <div class="col-md-12">                                        
                                            <select name="cliente" id="cliente" required>
                                                {% for item in clientes %}
                                                    <option value="{{item.id}}">{{ item.nombre }} </option>
                                                {% endfor %}
                                            </select>
                                        </div>                          
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            Solicitado por
                                        </div>
                                        <div class="col-md-12">                                        
                                            <select name="solicitado_por" id="solicitado_por" class="form-control" required>
                                                {% for item in solicitados_por %}
                                                    <option value="{{item.id}}">{{ item.nombre }} </option>
                                                {% endfor %}
                                            </select>
                                        </div>                          
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            Vehiculo
                                        </div> 
                                        <div class="col-md-12">                                        
                                            <select name="placa" id="placa" class="form-control" required>
                                                {% for item in placas %}
                                                    <option value="{{item.placa}}">{{ item.placa }} </option>
                                                {% endfor %}
                                            </select>
                                        </div>                          
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            Celular
                                        </div>  
                                        <div class="col-md-12">                                        
                                            {{form.celular}} 
                                        </div>                          
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            Medio de pago:
                                        </div>  
                                        <div class="col-md-12">
                                            {{form.medio_pago}}                                          
                                        </div>                          
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            Valor:
                                        </div>  
                                        <div class="col-md-12">
                                            {{form.valor}}                                          
                                        </div>                          
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            Costo:
                                        </div>  
                                        <div class="col-md-12">
                                            {{form.costo}}                                          
                                        </div>                          
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            Neto:
                                        </div>  
                                        <div class="col-md-12">
                                            {{form.neto}}                                          
                                        </div>                          
                                    </div>
                                </div>
                                

                                <div class="dropdown-divider"></div>
                                <div class="row">
                                    <div class="col">
                                        <button type="submit" class="btn btn-danger">
                                            <span class="fa fa-save"></span> Guardar
                                        </button>
                                        <button type="button" class="btn btn-success"
                                            onclick="return cerrar_modal()">
                                            Cancelar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


{% block js_page %}
<script>

    $("#fecha").datetimepicker({
            format: 'd/m/Y H:i:s',
            timepicker:true,
            minDate:'16/02/2025 00:00:00'    
    });

    $('#cliente').select2({
            placeholder: "Seleccione cliente",
            allowClear: true
    });

    $('#trayecto').select2({
            placeholder: "Seleccione trayecto",
            allowClear: true
    });

    $('#placa').select2({
            placeholder: "Seleccione placa",
            allowClear: true
    });

    $('#solicitado_por').select2({
            placeholder: "Seleccione persona",
            allowClear: true
    });

    $('#valor').change(function(){
        console.log('cambio valor****')
        calcular();
    });


    $(function () {
        // $("#fecha").focus();
        // $("#id").val("{{ obj.id }}");
        $("#fecha").val("{{ obj.fecha|date:'d/m/Y H:i:s' }}");
        $("#cliente").val("{{ obj.cliente }}").change();
        $("#trayecto").val("{{ obj.trayecto }}").change();
        $("#placa").val("{{ obj.placa }}").change();
        $("#solicitado_por").val("{{ obj.solicitado_por }}").change();

    });


    function calcular(){
        var cant,prec,desc,stotal,total;
        cant = $("#valor").val();
        console.log('valor',$("#valor").val()) 
        $('#costo').val(cant);
        $('#neto').val(prec);
    }

    function clear(){
        $('#valor').val(0);
        $('#costo').val(0);
        $('#neto').val(0);
        $("#fecha").focus();
    }

</script>

{% endblock %}
