{% extends 'base/base.html' %}
{% block page_content %}
<div>
    <div>
        {% if obj.id  %}
        <form method="POST" role="form" id="frmReg" action="{% url 'elim:reg_edit' obj.id %}" enctype="multipart/form-data">
        {% else %}
        <form method="POST" role="form" id="frmReg" action="{% url 'elim:reg_new' %}" enctype="multipart/form-data">
        {% endif %}
            <div class="col-xl-12 col-md-12 mb-12">
                {% if obj.id %}
                <div class="card border-left-warning shadow h-100 py-2">
                {% else %}
                <div class="card border-left-success shadow h-100 py-2">
                {% endif %}
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    {% if obj.id %} Editar {% else %} Nuevo {% endif %} Registro
                                </div>
                                {% csrf_token %}

                                <small class="text-danger">
                                    {% if form.errors %}
                                        {% for field in form %}
                                            {% if field.errors %}
                                                {% for error in field.errors %}
                                                    {{ error|escape }}
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    
                                        {% if form.non_field_errors%}
                                            {% for error in form.non_field_errors %}
                                                {{ error|escape }}
                                            {% endfor %}
                                        {% endif %}
                                    {% endif %}
                                </small>

                                <div class="dropdown-divider"></div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            Fecha
                                        </div>
                                        <div class="col-md-3">                                        
                                            <input type="datetime" name="fecha" id="fecha" required 
                                            class="form-control" maxlength="19" autocomplete="off">
                                        </div>                          
                                    </div>
                                </div>     

                         
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            Dirección                                           
                                        </div>
                                        <div class="col-md-12">    
                                            <!-- {{form.latitud}} -->
                                            <!-- {{form.longitud}}      -->
                                            <input type="hidden" id="id_latitud" name="latitud" value="">
                                            <input type="hidden" id="id_longitud" name="longitud" value="">
                            
                                            
                                            <input type="text" placeholder="Empiece a escribir la dirección"
                                                id="direccion" name="direccion" class="form-control">
                                        </div>                          
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            Dirección
                                        </div>
                                        <div class="col-md-12">                                        
                                            <select name="trayecto" id="trayecto" class="form-select form-select-lg mb-3" required>
                                                {% for item in trayectos %}
                                                    <option value="{{item.id}}">{{ item.direccion }} </option>
                                                {% endfor %}
                                            </select>
                                        </div>                          
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            Cliente
                                        </div>
                                        <div class="col-md-12">                                        
                                            <select name="cliente" id="cliente" class="form-select form-select-lg mb-3" required>
                                                {% for item in clientes %}
                                                    <option value="{{item.id}}" >{{ item.nombre }} </option>
                                                {% endfor %}
                                            </select>
                                        </div>                          
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            Solicitado por
                                        </div>
                                        <div class="col-md-12">                                        
                                            <select name="solicitado_por" id="solicitado_por" class="form-select form-select-lg mb-3" required>
                                                {% for item in solicitados_por %}
                                                    <option value="{{item.id}}">{{ item.nombre }} </option>
                                                {% endfor %}
                                            </select>
                                        </div>                          
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            Vehiculo
                                        </div> 
                                        <div class="col-md-12">                                        
                                            <select name="placa" id="placa" class="form-select form-select-lg mb-3" required>
                                                {% for item in placas %}
                                                    <option value="{{item.placa}}">{{ item.placa }} - {{ item.conductor }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>                          
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            Celular
                                        </div>  
                                        <div class="col-md-3">                                        
                                            {{form.celular}} 
                                        </div>                          
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            Medio de pago:
                                        </div>  
                                        <div class="col-md-3">
                                            {{form.medio_pago}}                                          
                                        </div>                          
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            Valor:
                                        </div>  
                                        <div class="col-md-3">
                                            {{form.valor}}                                          
                                        </div>                          
                                    </div>
                                </div>

                                <div class="dropdown-divider"></div>
                                <div class="row">
                                    <div class="col">
                                        <button type="submit" class="btn btn-danger">
                                            <span class="fa fa-save"></span> Guardar
                                        </button>
                                        <a type="button" class="btn btn-success"
                                            href="{% url 'elim:reg_list' %}">
                                            Cancelar
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block js_page %}
<script>

    $("#fecha").datetimepicker({
            format: 'd/m/Y H:i:s',
            timepicker:true,
    });

    $('#cliente').select2({
            placeholder: "Seleccione cliente",
            allowClear: true
    });

    $('#trayecto').select2({
            placeholder: "Seleccione trayecto",
            allowClear: true
    });

    $('#placa').select2({
            placeholder: "Seleccione placa",
            allowClear: true
    });

    $('#solicitado_por').select2({
            placeholder: "Seleccione persona",
            allowClear: true
    });

    $('#valor').change(function(){
        console.log('cambio valor****')
        calcular();
    });


    $(function () {
        // $("#fecha").focus();
        // $("#id").val("{{ obj.id }}");
        $("#fecha").val("{{ obj.fecha|date:'d/m/Y H:i:s' }}");
        $("#cliente").val("{{ obj.cliente.id }}").change();
        $("#trayecto").val("{{ obj.trayecto.id }}").change();
        $("#placa").val("{{ obj.placa }}").change();
        $("#solicitado_por").val("{{ obj.solicitado_por.id }}").change();
        $('#direccion').val("{{ obj.direccion}}");
        $('#id_latitud').val("{{ obj.latitud}}");
        $('#id_longitud').val("{{ obj.longitud}}");
    });


    function calcular(){
        var cant,prec,desc,stotal,total;
        cant = $("#valor").val();
        console.log('valor',$("#valor").val()) 
        $('#costo').val(cant);
        $('#neto').val(prec);
    }

    function clear(){
        $('#valor').val(0);
        $('#costo').val(0);
        $('#neto').val(0);
        // $("#fecha").focus();
    }

    var google_api_key = "{{google_api_key|safe}}";
    var base_country = "{{base_country|safe}}";

    $.getScript("https://maps.googleapis.com/maps/api/js?key=" + google_api_key + "&libraries=places")
        .done(function (script, textStatus) {
            google.maps.event.addDomListener(window, "load", initAutocomplete())
    })

    function initAutocomplete() {
     
        window['autocomplete'] = new google.maps.places.Autocomplete(
            document.getElementById('direccion'),
            {
                types: ['address'],
                componentRestrictions: { 'country': [base_country.toLowerCase()] },
            })
        
        autocomplete.addListener('place_changed', function () {
            onPlaceChanged()
        });
    }

    function onPlaceChanged (){
        var auto = window['autocomplete']
        var geocoder = new google.maps.Geocoder()
        var address = document.getElementById('direccion').value

        geocoder.geocode( { 'address': address}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                var latitude = results[0].geometry.location.lat();
                var longitude = results[0].geometry.location.lng();
                $('#id_latitud').val(latitude) 
                $('#id_longitud').val(longitude) 
                console.log('res', results[0])
                console.log('latitud', latitude)
                console.log('longitud', longitude)
            } 
        }); 
    }


</script>

{% endblock %}
