{% extends 'base/base.html' %}
{% block page_content %}
<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Listado de Vehiculos</h6>
        <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Acciones:</div>
                <a class="dropdown-item" onclick="return abrir_modal('{% url 'elim:vehiculo_new' %}')" href="#">
                    <i class="far fa-calendar-plus"></i> Nuevo</a>
            </div>
        </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        <div class="titleholder">
            <div class="title text-uppercase"> Vehiculos Elim Logística</div>
            <!-- <div class="title"> {% if location %} para {{location.direccion}} ({{label}}) {% endif %}</div>  -->
        </div>

        <!-- Card menu -->
        <div class="alert alert-info">
            <!-- <a class="btn btn-default" onclick="return abrir_modal('{% url 'elim:reg_direccion_add_new' %}')" href="#"> Nueva dirección </a> -->
            <!-- <a class="btn btn-default" onclick="return abrir_modal('{% url 'elim:reg_new' %}')" href="#"> Nuevo servicio</a> -->
            <a class="btn btn-default" onclick="return abrir_modal('{% url 'elim:vehiculo_new' %}')" href="#"> Nuevo
                vehiculo</a>
            <a class="btn btn-default" href="{% url 'elim:reg_direccion_new' %}"> Direcciones</a>
            <!-- <a class="btn btn-default" href="{% url 'elim:vehiculo_list' %}"> Vehiculos</a>       -->
        </div>

        {% if not obj %}
        <div class="alert alert-info"> Ningun vehiculo disponible </div>
        {% else %}
        <table class="table table-striped table-hover dt-responsive nowrap">
            <thead>
                <th>Estado</th>
                <!-- <th>Acciones</th> -->
                <th class="all">Acciones</th>
                <th>Fecha Modificación</th>
                <th>Hora</th>
                <th>Tipo</th>
                <th>Placa</th>
                <th>Conductor</th>
                <th>Disponibilidad</th>
                <th>Mecanico</th>
                <th>Restaurante</th>
                <th>Enfermo</th>
                <th></th>
            </thead>
            <tbody>
                {% for item in obj %}
                <tr>
                    <td>
                        <a class="btn btn-warning btn-circle" href="#"
                            onclick="return abrir_modal('{% url 'elim:vehiculo_edit' item.pk %}')">
                            <i class="far fa-edit"></i>
                        </a>
                    </td>
                    <td> <a href="{% url 'elim:vehiculo_inactivar' item.pk %}"> 
                            {% if item.estado %} Desactivar {% else %} Activar {% endif %} 
                        </a> 
                    </td>
                    <td> {{item.fm|date:"d/m/Y H:i:s"}} </td>
                    <td> {{item.hora|date:"H:i:s"}} </td>
                    <td> {{item.tipo}} </td>
                    <td> {{item.placa}} </td>
                    <td> {{item.conductor}} </td>
                    <td> {{item.disponibilidad}} </td>
                    <td> {{item.mecanico|yesno:"Activo,Inactivo"}} </td>
                    <td> {{item.restaurante|yesno:"Activo,Inactivo"}} </td>
                    <td> {{item.enfermo|yesno:"Activo,Inactivo"}} </td>
                    <!-- <td> <a href="{#% url 'elim:geocoding_view' item.id %#}"> Geocode!</a> </td>                        -->
                    <td><img src="/static/admin/img/icon-no.svg" alt="False"></td>

                </tr>
                {% endfor%}
            </tbody>
        </table>
        {% endif %}
    </div>
    <div class="linkholder">
        <a class="btn btn-default" href="{% url 'elim:reg_list' %}"> Registros</a>
        <!-- <a href="{% url 'elim:my_distance_view' %}"> Calcular distancias</a>  -->
    </div>
    <div class="linkholder">
        <!-- <a href="{% url 'elim:my_map_view' %}"> Ir al mapa</a>  -->
    </div>
</div>
{% endblock %}
{% block js_page %}
<script>
    // Call the dataTables jQuery plugin
    $(document).ready(function () {
        $('.table').DataTable({
            paging: true,
            scrollCollapse: true,
            scrollY: '280px',
            scrollX: true,
            responsive: true,
            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "<span class='fa fa-angle-double-left'></span>",
                    "sLast": "<span class='fa fa-angle-double-right'></span>",
                    "sNext": "<span class='fa fa-angle-right'></span>",
                    "sPrevious": "<span class='fa fa-angle-left'></span>"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }
        });
    });
</script>
{% endblock %}